<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Flask App{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header>
    <h1>{% block header %}AUTO ML{% endblock %}</h1>
  </header>
    <main>
    <!-- render flash messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for msg in messages %}
            <li>{{ msg }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <!-- Allow user to upload dataset -->
    {% block content %}
      <form method="POST" action="{{ url_for('auto.auto_upload') }}" enctype="multipart/form-data">
        <label for="file">Upload your dataset (.csv only)</label>
        <input type="file" id="file" name="file" accept=".csv">
        <button type="submit">Upload</button>
      </form>
    {% endblock %}
    </main>
</body>
</html>
